block vars
doctype html
html
    head
        title Auth | #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block body
    
    div#contact apprajapati9.blogspot.ca | Blog Of Programmer